*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body {
  /* margin: 0; */
  /* padding:0; */
}

#ratio-square img {
  display: block;
}

.container {
  /* max-width: 1020px; */
  margin: 0 auto;
  /* padding-left: 15px;
  padding-right: 15px; */
}

.ratio-square {
  height: 0;
  padding-bottom: 100%;
  position: relative;
}

.ratio-square img {
  width: 100%;
  height: 100%;
  position: absolute;
  object-fit: cover;
}

/* Flexbox */
.row {
  display: flex;
  flex-wrap: wrap;
  margin: 0 -16.5px;
}

.col {
  max-width: 100%;
  width: 33.33%;
  flex-basis: 33.33%;
  padding: 0 1.5px 3px;
}

@media (min-width: 768px) {
  .row {
    margin: 0 -15px;
  }

  .col {
    padding: 0 15px 30px;
  }
}
