@import url('https://fonts.googleapis.com/css2?family=Oswald&family=Pacifico&display=swap');

*,
*:before,
*:after {
   box-sizing: border-box;
}

h1{

    font-family: 'Pacifico', cursive;
}

body {
    /* padding: 3rem; */
    /* font-family: 'Oswald', sans-serif; */
    font-size: 14px;
    background-color: #fafafa;
    line-height: 18px;
 }

 .navbar.is-fixed-top{
    display: inline-flex;
    justify-content: space-between;
    align-items: baseline;
    /* padding: .5em; */
    padding-left: 16px;
    padding-right: 16px;
}

body.has-navbar-fixed-top {
    padding-top: 4.25rem;
}

.center-cropped {
    width: 100px;
    height: 100px;
    background-position: center center;
    background-repeat: no-repeat;
  }

.level, .level-left, .level-right{
    display: flex;
    align-items: baseline;
}

.navbar-item{
    font-weight: 600;
}

.authContain{
    padding-bottom: 44px;
    display: flex;
    justify-content: center;
}

.authForm{
    justify-content: center;
    margin-top: 12px;
    max-width: 350px;
}

.authFormDiv{
    color: rgba(var(--i1d,38,38,38),1);
    font: inherit;
    vertical-align: baseline;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    background-color: #fff;
    background-color: rgba(var(--d87,255,255,255),1);
    border: 1px solid #dbdbdb;
    border: 1px solid rgba(var(--b6a,219,219,219),1);
    border-radius: 1px;
    margin: 0 0 10px;
    padding: 10px 0;
    flex-direction: column;

}

authFormInnerWrap{
    margin-bottom: 10px;
    max-width: 350px;
    width: 100%;
}

form{
    margin-top: 24px;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
}

form input{
    margin: 0 40px 6px;
    background-color:  #fafafa;
    /* width: 100%; */
    border: 1px solid #dbdbdb;
}
