@import url('https://fonts.googleapis.com/css2?family=Oswald&family=Pacifico&display=swap');

*,
*:before,
*:after {
   box-sizing: border-box;
}

h1{

    font-family: 'Pacifico', cursive;
}

body {
    padding: 3rem;
    /* font-family: 'Oswald', sans-serif; */
    font-size: 14px;
    background-color: #fafafa;
    line-height: 18px;
    max-width: 1020px;
    inline-size: fit-content;

 }

 .navbar.is-fixed-top{
    display: inline-flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 16px;
    padding-right: 16px;
}

.center-cropped {
    width: 100px;
    height: 100px;
    background-position: center center;
    background-repeat: no-repeat;
  }

.level, .level-left, .level-right{
    display: flex;
    align-items: baseline;
}

.navbar-item{
    font-weight: 600;
}

.authContain{
    padding-bottom: 44px;
    display: flex;
    justify-content: center;
}

.authForm{
    justify-content: center;
    margin-top: 12px;
    max-width: 350px;
}

.authFormDiv{

    display: flex;
    align-items: center;
    background-color: #fff;
    border: 1px solid #dbdbdb;
    border-radius: 1px;
    margin: 0 0 10px;
    padding: 10px 40px;
    flex-direction: column;
}

.authFormInnerWrap{
    margin-bottom: 10px;
    max-width: 350px;
    width: 100%;
}

form{
    margin-top: 24px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

form input{
    margin: 0 40px 6px;
    background-color:  #fafafa;
    width: 100%;
    border: 1px solid #dbdbdb;
    padding: 9px 0 7px 8px;
    color: #262626;
    border-radius: 3px;
}

.fontawe{
    border: none;
    background-color: #fff;
    cursor: pointer;
    padding: 8px;
}
.fontawe{
    /* shadow */
    border-radius: 50px;
    /* background: #55b9f3; */
    box-shadow: 1px 2px 5px #489dcf, -1px -1px 4px #62d5ff;
    margin: 10px;
}

.fontawe svg{
    height: 24px;
    width: 24px;
    /* fill: #262626; */
}
.fontawe svg{
    /* shadow */
    border-radius: 50px;
    /* background: #55b9f3; */
    /* box-shadow: 20px 20px 60px #489dcf, -20px -20px 60px #62d5ff; */
    padding: 4px;
}

.svg-inline--fa.fa-w-16 {
    width: 2em;
}

.svg-inline--fa.fa-w-12 {
    width: 2em;
}

#post-button {
    font-size: 55px;
    border-radius: 75px;
    position: fixed;
    bottom: 100px;
    left: 700px;
    width: 75px;
    background-color: #55b9f3;
}

#post-button:hover, #post-button:focus{
    outline: none;
}

.post-form-container{
    display: flex;
    margin: 100px;
    min-height: 250px;
    min-width: 300px;
    height: auto;
    width: auto;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: white;
}

.create-post-form{
    display: flex;
    justify-content: center;

}

.create-post-headline{
    font-weight: bold;
    font-size: 25px;
     text-shadow: 4px 4px 4px #aaa;
     font-family: 'HennyPenny', Courier, monospace;
      border-bottom: 1px solid #ccc;
    padding: 1rem;
    margin: 0;
}

#create-post-button{
    border-radius: 25px;
    width:100px;
}

#caption-field{
    line-height: 1.5;
    border-radius: 5px;
}

#img-post{
    max-height: 200px;
}

/* --------------------------- */
.home-div{
    position: relative;
}
.modal-div {
    position: absolute;
    border: solid 1px black;
    left: 500px;
    border-radius: 15px;
    background-color: rgba(255,255,255,1);


}
.button-container{
    display: flex;
    justify-content: flex-end;
}
/* .modal {
  width: 500px;
  background: white;
  border: 1px solid #ccc;
  transition: 1.1s ease-out;
  box-shadow:
    -2rem 2rem 2rem rgba(black, 0.2);
  filter: blur(0);
  transform: scale(1);
  opacity: 1;
  visibility: visible;
  &.off {
    opacity: 0;
    visibility: hidden;
    filter: blur(8px);
    transform: scale(0.33);
    box-shadow: 1rem 0 0 rgba(black, 0.2);
  } */
  @supports (offset-rotate: 0deg) {

    offset-rotate: 0deg;
    offset-path: path("M 250,100 S -300,500 -700,-200");
    &.off {
      offset-distance: 100%;
    }
  }
  @media (prefers-reduced-motion) {
    offset-path: none;
  }

  .content {
    padding: 1rem;
  }
  .actions {
    border-top: 1px solid #ccc;
    background: #eee;
    padding: 0.5rem 1rem;

  }

  .toggle-button{
      margin-top: 10px;
      margin-right: 15px;
  }
.add-name_input:focus{
    background-color: #fafafa;
    outline: none;
}
.add-name_input::placeholder{
    color: #808080;
    font-weight: bold;
}
.add-comment_button:hover{
    transform: scale(1.1);
}
