@import url('https://fonts.googleapis.com/css2?family=Oswald&family=Pacifico&display=swap');

*,
*:before,
*:after {
   box-sizing: border-box;
}

h1{

    font-family: 'Pacifico', cursive;
}

body {
    padding: 3rem;
    font-family: 'Oswald', sans-serif;
 }

 .navbar.is-fixed-top{
    display: inline-flex;
    justify-content: space-between;
    align-items: baseline;
    padding: .5em;
}

body.has-navbar-fixed-top {
    padding-top: 4.25rem;
}
